@import './modules/mixins';
@import './modules/layout';

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1em;
  @include tab {
    padding: 0 1.8rem;
  }
  @include pc {
    max-width: 1240px;
  }
}

.title {
  &-main {
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
  }
  &-sub {
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
    font-weight: normal;
  }
}
.text {
  &-last-update {
    margin: 0 0 10px 0;
    text-align: center;
  }
  &-bed {
    &-userate {
      margin: 0 0 10px 0;
      font-size: 1.4rem;
      text-align: center;
    }
    &-remark,
    &-sorce {
      margin: 0 auto 20px;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.total-infomation {
  dl {
    font-size: 1.6rem;
  }
  dt,
  dd {
    border: 5px solid black;
    padding: 1rem;
    text-align: center;
  }
  dt {
    border-bottom: none;
    color: white;
    background-color: black;
  }
  dd {
    border-top: none;
    font-weight: bold;
  }
}

.patients-data {
  dl {
    @include tab {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #ccc;
      border-top: none;
    }
  }
  dt {
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #ddd;
    @include tab {
      width: 30%;
      border-top: 1px solid #ccc;
      text-align: left;
    }
  }
  dd {
    width: 100%;
    padding: 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    &:last-child {
      border-bottom: 1px solid #ccc;
    }
    @include tab {
      border-top: 1px solid #ccc;
      border-right: none;
      border-left: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
      }
      width: 70%;
      text-align: left;
      background: #fff;
    }
  }
}

.list-patients-data {
  text-align: center;
  cursor: pointer;
  dl {
    padding: 1rem;
  }
}

.infection-status {
  &-fine {
    border: 5px solid rgba(52, 152, 219, 1);
    color: white;
    background-color: rgba(52, 152, 219, 1);
  }
  &-caution-low {
    border: 5px solid rgba(173, 35, 47, 0.1);
    color: rgba(173, 35, 47, 1);
    background-color: rgba(173, 35, 47, 0.1);
  }
  &-caution-high {
    border: 5px solid rgba(173, 35, 47, 0.4);
    color: rgba(173, 35, 47, 1);
    background-color: rgba(173, 35, 47, 0.4);
  }
  &-danger {
    border: 5px solid rgba(173, 35, 47, 0.8);
    color: white;
    background-color: rgba(173, 35, 47, 1);
  }
}
