.grid {
  display: grid;
  grid-gap: 0.5rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  &-120 {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  &-320 {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  & > div {
    overflow: auto;
    min-width: 0;
    padding: 0.5rem;
  }
}
