.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 0.5rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  & > div {
    overflow: auto;
    min-width: 0;
    padding: 0.5rem;
  }
}
